.check-red.form-check-input:checked {
  background-color: #dc3545;
  border-color: #dc3545;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3 6-6'/%3e%3c/svg%3e");
}

.check-red.form-check-input:focus {
    /* 確保焦點邊框與紅色主題一致 */
    border-color: #dc3545;
    /* 設定焦點陰影為紅色的透明版本 */
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25); 
}